<ion-header>
  <ion-navbar color="dark">
    <ion-title *ngIf="filme">{{ filme.title }}</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-card *ngIf="filme">
    <img [src]="'https://image.tmdb.org/t/p/w300/' + filme.poster_path">
    <ion-card-content>
      <ion-card-title>
        <h2 class="feed_title">{{ filme.tagline }}</h2>
      </ion-card-title>
      <p>{{ filme.overview }}</p>
    </ion-card-content>
    <ion-row>
      <ion-col>
        <button ion-button icon-start clear small>
          <ion-icon name="thumbs-up"></ion-icon>
          <div>{{ filme.vote_count }} Likes</div>
        </button>
      </ion-col>
      <ion-col>
        <button ion-button icon-start clear small>
          <ion-icon name="star"></ion-icon>
          <div>{{ filme.vote_average }} nota</div>
        </button>
      </ion-col>
    </ion-row>
    <button ion-button block color="dark" (click)="addFavorite(filme.id)">{{addorremove}}</button>
  </ion-card>
</ion-content>
